{% load static %}
<!DOCTYPE html>
<head>
    <title>
        家計簿アプリ
    </title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/template.css' %}">
</head>
<body>
    <div class="header">
        <div class="header_left_content">
            今までの詳しい出費
        </div>
        <div class="header_center_content">
            <a href="regist_bill">
                出費の追加はこちらから
            </a>
        </div>
        <div class="header_right_content">
            前の月の出費
        </div>
        <div>
            <form action="logout/" method="get">
                <input type="submit" value="ログアウト">
            </form>
        </div>
    </div>
    {% block sidebar %}

    {% endblock %}
    <footer>
        <div>

        </div>
        <div>

        </div>
    </footer>
</body>
</html>