html{
    width:1280px;
}

body{
    width: 1280px;
}

.header{
    width: 1280px;
    display: flex;
}

.header_left_content{
    width: 200px;
    margin-left: 10%;
}

.header_center_content{
    width: 200px;
    margin-left: 10%;
}

.maincontent{
    width: 1280px;
    display: flex;
}

.in_out_com{
    width:20%;
    margin-left: 20px;
}

.housecom{
    width:40%;
    margin-left: 10%;
    background-color: aqua;
}