{% extends 'housekeep/template.html' %}
{% block sidebar %}
<div class="maincontent">
    <div class="in_out_com">
        <h2>
            直近10件の収支です
        </h2>
        <table>
            <tr>
                <th>
                    名前
                </th>
                <th>
                    値段
                </th>
                <th>
                    出費日
                </th>
            </tr>
            {% for item in items %}
            <tr>
                <td>
                    {{ item.detail }}
                </td>
                <td>
                    {{ item.cost }}
                </td>
                <td>
                    {{ item.created_date }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="housecom">
        <h2>
            今月の各日の出費です
        </h2>
        <img src="/static/image/figure.png">
    </div>
</div>
{% endblock %}