<!DOCTYPE html>
<head>
    <title>
        家計簿アプリ
    </title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <header>
        <div>
            今までの詳しい出費
        </div>
        <div>
            <a href="regist_bill">
                出費の追加はこちらから
            </a>
        </div>
        <div>
            前の月の出費
        </div>
        <div>
            <form action="logout/" method="get">
                <input type="submit" value="ログアウト">
            </form>
        </div>
    </header>
    {% block sidebar %}

    {% endblock %}
    <footer>
        <div>

        </div>
        <div>

        </div>
    </footer>
</body>
</html>